@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Style for the custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  margin-left: 1rem;
  margin-right: 1rem;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  ); /* Set the color of the scrollbar thumb (the moving part) */
  border-radius: 12px; /* Add soft edges to the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  ); /* Change the color on hover if desired */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bgBeauty {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(220, 217, 249) 0%,
    rgb(172, 224, 217) 89.8%
  );
}
